<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student registration form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="/student/processForm" th:action="@{processForm}" th:object="${student}">
    <p>Id: <input type="text" th:field="*{firstName}" /></p>
    <p>Message: <input type="text" th:field="*{lastName}" /></p>
    <p><input type="submit" value="Submit" /> </p>
</form>
</body>
</html>
